<a href="https://colab.research.google.com/github/maitri2905/US_STATE_VACCINATIONS/blob/main/Term_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
covid = pd.read_csv('/content/gdrive/My Drive/US_STATE_VACCINATIONS/Data.csv')
covid.head()

         date location  ...  daily_vaccinations_per_million  share_doses_used
0  2021-01-12  Alabama  ...                             NaN             0.207
1  2021-01-13  Alabama  ...                          1205.0             0.222
2  2021-01-14  Alabama  ...                          1445.0             0.212
3  2021-01-15  Alabama  ...                          1525.0             0.226
4  2021-01-16  Alabama  ...                          1529.0               NaN

[5 rows x 14 columns]

In [4]:
covid.describe()

       total_vaccinations  ...  share_doses_used
count        6.903000e+03  ...       6787.000000
mean         3.479791e+06  ...          0.706653
std          1.596265e+07  ...          0.155054
min          4.160000e+02  ...          0.043000
25%          2.489545e+05  ...          0.631000
50%          8.309030e+05  ...          0.747000
75%          2.341456e+06  ...          0.808000
max          2.434635e+08  ...          1.105000

[8 rows x 12 columns]

In [5]:
covid.dtypes

date                                    object
location                                object
total_vaccinations                     float64
total_distributed                      float64
people_vaccinated                      float64
people_fully_vaccinated_per_hundred    float64
total_vaccinations_per_hundred         float64
people_fully_vaccinated                float64
people_vaccinated_per_hundred          float64
distributed_per_hundred                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
daily_vaccinations_per_million         float64
share_doses_used                       float64
dtype: object

In [6]:
covid.shape

(7173, 14)

In [7]:
round((covid.isnull().sum()/covid.shape[0])*100,2)

date                                    0.00
location                                0.00
total_vaccinations                      3.76
total_distributed                       5.38
people_vaccinated                       5.55
people_fully_vaccinated_per_hundred    11.54
total_vaccinations_per_hundred         10.12
people_fully_vaccinated                 6.69
people_vaccinated_per_hundred          10.47
distributed_per_hundred                10.30
daily_vaccinations_raw                  0.91
daily_vaccinations                      0.91
daily_vaccinations_per_million          7.47
share_doses_used                        5.38
dtype: float64

In [8]:
covid.iloc[1]

date                                   2021-01-13
location                                  Alabama
total_vaccinations                          84040
total_distributed                          378975
people_vaccinated                           74792
people_fully_vaccinated_per_hundred          0.19
total_vaccinations_per_hundred               1.71
people_fully_vaccinated                      9245
people_vaccinated_per_hundred                1.53
distributed_per_hundred                      7.73
daily_vaccinations_raw                       5906
daily_vaccinations                           5906
daily_vaccinations_per_million               1205
share_doses_used                            0.222
Name: 1, dtype: object

In [9]:
covid.iloc[2]

date                                   2021-01-14
location                                  Alabama
total_vaccinations                          92300
total_distributed                          435350
people_vaccinated                           80480
people_fully_vaccinated_per_hundred           NaN
total_vaccinations_per_hundred               1.88
people_fully_vaccinated                       NaN
people_vaccinated_per_hundred                1.64
distributed_per_hundred                      8.88
daily_vaccinations_raw                       8260
daily_vaccinations                           7083
daily_vaccinations_per_million               1445
share_doses_used                            0.212
Name: 2, dtype: object

In [10]:
covid.iloc[3]

date                                   2021-01-15
location                                  Alabama
total_vaccinations                         100567
total_distributed                          444650
people_vaccinated                           86956
people_fully_vaccinated_per_hundred          0.28
total_vaccinations_per_hundred               2.05
people_fully_vaccinated                     13488
people_vaccinated_per_hundred                1.77
distributed_per_hundred                      9.07
daily_vaccinations_raw                       8267
daily_vaccinations                           7478
daily_vaccinations_per_million               1525
share_doses_used                            0.226
Name: 3, dtype: object

In [11]:
covid.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used'],
      dtype='object')

In [12]:
covid.groupby(["location"]).sum()

                total_vaccinations  ...  share_doses_used
location                            ...
Alabama                130667801.0  ...            63.422
Alaska                  32268070.0  ...            69.469
American Samoa           2383747.0  ...            63.619
Arizona                253560019.0  ...            77.179
Arkansas                91840756.0  ...            70.120
...                            ...  ...               ...
Virginia               308677967.0  ...            80.473
Washington             270604410.0  ...            78.872
West Virginia           67913205.0  ...            84.730
Wisconsin              218499615.0  ...            84.284
Wyoming                 19667802.0  ...            73.071

[65 rows x 12 columns]

In [13]:
fake_states = covid.location.unique()
fake_states = fake_states.tolist()
fake_states

['Alabama',
 'Alaska',
 'American Samoa',
 'Arizona',
 'Arkansas',
 'Bureau of Prisons',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Dept of Defense',
 'District of Columbia',
 'Federated States of Micronesia',
 'Florida',
 'Georgia',
 'Guam',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indian Health Svc',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Long Term Care',
 'Louisiana',
 'Maine',
 'Marshall Islands',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York State',
 'North Carolina',
 'North Dakota',
 'Northern Mariana Islands',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Republic of Palau',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'United States',
 'Utah',
 'Vermont',
 'Veterans Health',
 'Virgin Islands',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [14]:
len(covid.location.unique())

65

In [15]:
real_states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky",
               "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
               "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia",
               "Wisconsin", "Wyoming"]


if len(real_states) == 50:
    print("You're on the ball, keep going tiger")

You're on the ball, keep going tiger

In [16]:
coviddf = covid.location.isin(real_states)
filtered = covid[coviddf]
filtered.head()

         date location  ...  daily_vaccinations_per_million  share_doses_used
0  2021-01-12  Alabama  ...                             NaN             0.207
1  2021-01-13  Alabama  ...                          1205.0             0.222
2  2021-01-14  Alabama  ...                          1445.0             0.212
3  2021-01-15  Alabama  ...                          1525.0             0.226
4  2021-01-16  Alabama  ...                          1529.0               NaN

[5 rows x 14 columns]

In [17]:
filtered.location.value_counts()

West Virginia     110
Vermont           110
New Jersey        110
Hawaii            110
Wisconsin         110
Wyoming           110
Illinois          110
Montana           110
Minnesota         110
North Carolina    110
Florida           110
Arkansas          110
Kentucky          110
Mississippi       110
Kansas            110
Nevada            110
Nebraska          110
Pennsylvania      110
South Dakota      110
Washington        110
Louisiana         110
Oklahoma          110
Georgia           110
Maryland          110
Iowa              110
Connecticut       110
Tennessee         110
Alabama           110
Alaska            110
New Mexico        110
North Dakota      110
Massachusetts     110
Colorado          110
Texas             110
Utah              110
Arizona           110
Ohio              110
Indiana           110
Missouri          110
Maine             110
New Hampshire     110
Rhode Island      110
Michigan          110
Oregon            110
Idaho             110
California        110
Virginia          110
Delaware          110
South Carolina    110
Name: location, dtype: int64

In [18]:
filtered.date.value_counts()

2021-02-10    49
2021-03-27    49
2021-03-16    49
2021-01-31    49
2021-04-10    49
              ..
2021-01-27    49
2021-02-28    49
2021-01-19    49
2021-02-22    49
2021-02-18    49
Name: date, Length: 110, dtype: int64

In [19]:
filtered.date.value_counts().shape[0]

110

In [20]:
filtered.shape[0] / filtered.date.value_counts().shape[0]

49.0